{% extends 'base.html' %}

{% block body %}
       
<main>

    <section class="py-5 text-center container" style="background-image: url('../static/img/food_unsplash.jpg');background-size: 100% 220%;">
      <div class="row py-lg-5">
        <div class="col-lg-10 col-md-10 mx-auto" style="background-color:rgba(0, 0, 0, 0.7);">
          <h1 class="text-light">FOODIA</h1>
          <h2 class="text-light">"Delicious food delivered right to your doorstep. Explore our online menu, place your order, and indulge in a mouthwatering dining experience from the comfort of your home."</h2>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  <h1 class="text-center">CATEGORIES</h1>
  <hr>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% if foodProduct %}          
          {% for product in foodProduct  %} 
          <a href="/foodStuff/productFoodStuff/{{product.uid}}" class="text-dark" style="text-decoration: none;">        
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="250px" src="/media/{{product.categoryImage}}">
              <div class="card-body">
                <h5 class="card-text text-center">{{product.categoryName}}</5>
              </div>
            </div>
          </div></a>  
          {% endfor %}               
          {% endif %}
        </div>
      </div>
    </div>
  
  </main>
  

{% endblock body %}
 