  {% extends 'base.html' %}
{% block title %}Profile{% endblock title %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'userProfile' %}">
              <span data-feather="home"></span>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'ordersProfile' %}">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'addressProfile' %}">
              <span data-feather="shopping-cart"></span>
              Address
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'passwordReset' %}">
              <span data-feather="users"></span>
              Password Reset
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signOut' %}">
              <span data-feather="users"></span>
              Logout
            </a>
          </li>


        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Order Placed</h1>
      </div>
      <div style="padding-left:2%;padding-right: 2%;">
        {% if orders %}              
        {% for order in orders %}        
       

          <div class="col-xl-12 mb-4">
           
            <div class="card bg-dark" >
              <div class="p-2  text-light">
                <p ><h5 style="font-weight:bolder;"> Order Track Code : {{order.orderId}}</h5>

                  <h6 style="font-weight:bolder;"> Total Amount : ${{order.orderPrice}}</h6>
                  <h7 style="font-weight:bolder;"> Order Date : 2/4/2013</h7>
              
                </p>

              </div>

              
          

  
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <table class="table align-middle mb-0 bg-dark text-light">
                    <thead class="bg-dark text-light">
                      <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for id,item in orderDetail.items  %}                                          
                      {% for product in item %}                        
                      {% if order.orderId == product.orderId.orderId %}
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                           <!--<img
                                src="/media/{{product.foodProductImage}}"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                                />--> 
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">{{product.productId}}
                          </p>
                        </td>
                        <td>{{product.orderProductQuantity}}</td>
                        <td>                         
                            ${{product.productPrice}}
                        </td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                      
                      {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
              <div
                class="card-footer border-0 bg-dark text-light p-2 d-flex justify-content-around"
              >
              <span> Order Status : <span class="">Pending</span></span>
              </div>
            </div>
         
          </div>



            

      {% endfor %}
      {% endif %}




      </div>




    </main>
  </div>
</div>



{% endblock body %}