{% extends "base.html" %}
{% block title %}Dashboard {% endblock title %}

{% block body %}




        <div class="py-5">
            <div class="container-fluid">
              <div class="row">
                
                <!-- Data in Numbers -->
                <div class="container px-4">
                  <h2>Dashboard</h2>
                  <table class="table">
                    <thead>
                      <tr><b>
                        Filter by date : </b>
                      
                      </tr>
                      <tr>
                        <th>From : <input type="date" class="form-control"></th>
                        <th>TO : <input type="date" class="form-control"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Customer</td>
                        <td>{{users.count}}</td>
                      </tr>
                      <tr>
                        <td>Order</td>
                        <td>{{Order.count}}</td>
                      </tr>
                      <tr>
                        <td>Product Sold</td>
                        <td>{{productSold.count}}</td>
                      </tr>
                      <tr>
                        <td>Products</td>
                        <td>{{Product.count}}</td>
                      </tr>
                      <tr>
                        <td>Most Purchased Products</td>
                        <td>
                          {% if mostProduct %}
                       
                            
                              {% for key, value in mostProduct.items %}
                                  {{ key }}  - (No. of solds {{ value }})
                              {% endfor %}
                              
                              
                 
                          {% else %}
                          0
                          {% endif %}

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
                <!-- Data On Chart-->




              </div>
            </div>
        </div>












{% endblock body %}